body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #342323; /* Web sayfasının arka plan rengi */
    color: #977e7e; /* Metin rengi */
}

h1 {
    color: #a1b91c; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}


img {
    width:300px; /* Resmin maksimum genişliğini konteynırına göre ayarlar */
    height: 300px; /* Oranları koruyarak boyutlandırır */
    border-radius: 40px; /* Köşeleri hafif yuvarlatır */
    margin: 5px; /* Görseller arasında boşluk bırakır */
}